@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
        background-color: #f9f9f9;
    }

    header{
        position: fixed;
        z-index: 1000;
        width: 100%
    }

    .top-panel {
        @include container();

        background-color: #ffffff;
        color: black;
        height: 60px;
        padding: 10px 20px;
        padding-bottom: 20px;

    }


    .left-block,
    .right-block {
        padding: 0;
    }

    .left-block {
        font-size: 4rem;
    }

    .right-block {
        padding-top: 1rem;
        font-size: 4rem;
    }

    .main-header {
        @include container();

      
        text-align: center;
        font-size: 3rem;
        padding: 4rem 1rem;

        .main-header-element {
            padding-top: 3rem;
            padding-left: 5rem;

            img {
                height: 150px;
            }

        }

        h1 {
            line-height: 1;
            font-weight: 300;
            text-align: left;
        }


    }
    .news-container{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        min-width: 650px;
        .news-box{
            display: inline-block;
            background-color: #eeeeee;
            padding: 1rem ;
            margin-bottom: 1rem;
            border-radius: 5px;
            .news-box-element{
                
                img{
                
                    width: 600px;
                }
            }
            
        }
    }
}